@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Kanit&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    /*DESLIZAR CUANDO HAGO CLICK EN LOS LINKS HEADER*/
}

/*----------------- 
------ HEADER -----
-------------------*/

.contenedor-header {
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo img {
    width: 25%;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a.hover-blue:hover {
    color: rgb(40, 40, 233);
}

.contenedor-header header nav ul li a.hover-orange:hover {
    color: rgb(218, 141, 0);
}

.contenedor-header header nav ul li a.hover-green:hover {
    color: green;
}

.contenedor-header header nav ul li a.hover-pink:hover {
    color: rgb(236, 152, 166);
}

.contenedor-header header nav ul li a.hover-lightblue:hover {
    color: rgb(99, 196, 228);
}

.contenedor-header header nav ul li a.hover-yellow:hover {
    color: rgb(202, 202, 0);
}

.contenedor-header header nav ul li a.hover-red:hover {
    color: red;
}

.nav-responsive {
    background-color: #1CB698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*----------------- 
------ INICIO -----
-------------------*/

.inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)),
        url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner {
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner .contenedor-img {
    margin-top: 40px;
    border: 10px solid;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

.inicio .contenido-banner .contenedor-img img {
    width: 100%;
    display: block;
    transition: opacity 0.5s ease-in-out;
    position: relative;
}

.inicio .contenido-banner .contenedor-img.hover-blue {
    border-color: rgb(40, 40, 233);
}

.inicio .contenido-banner .contenedor-img.hover-orange {
    border-color: rgb(218, 141, 0);
}

.inicio .contenido-banner .contenedor-img.hover-green {
    border-color: green;
}

.inicio .contenido-banner .contenedor-img.hover-pink {
    border-color: rgb(236, 152, 166);
}

.inicio .contenido-banner .contenedor-img.hover-lightblue {
    border-color: rgb(99, 196, 228);
}

.inicio .contenido-banner .contenedor-img.hover-yellow {
    border-color: rgb(202, 202, 0);
}

.inicio .contenido-banner .contenedor-img.hover-red {
    border-color: red;
}

.inicio .contenido-banner h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Kanit';
}

.inicio .contenido-banner h2 {
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a.hover-blue:hover {
    background-color: rgb(40, 40, 233);
}

.inicio .contenido-banner .redes a.hover-orange:hover {
    background-color: rgb(218, 141, 0);
}

.inicio .contenido-banner .redes a.hover-green:hover {
    background-color: green;
}

.inicio .contenido-banner .redes a.hover-pink:hover {
    background-color: rgb(236, 152, 166);
}

.inicio .contenido-banner .redes a.hover-lightblue:hover {
    background-color: rgb(99, 196, 228);
}

.inicio .contenido-banner .redes a.hover-yellow:hover {
    background-color: rgb(202, 202, 0);
}

.inicio .contenido-banner .redes a.hover-red:hover {
    background-color: red;
}

/*----------------- 
------ SOBRE MI -----
-------------------*/

.sobremi {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2 {
    font-size: 48px;
    font-family: 'Kanit';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span {
    font-weight: bold;
}

.sobremi .fila {
    display: flex;
}

.sobremi .fila .col {
    width: 50%;
}

.sobremi .fila .col h3 {
    font-size: 28px;
    font-family: 'Kanit';
    margin-bottom: 25px;
}

.sobremi .fila .col ul {
    list-style: none;
}

.sobremi .fila .col ul li {
    margin: 12px 0;
}

.sobremi .fila .col ul li strong {
    display: inline-block;
    width: 130px;
}

.sobremi .contenido-seccion p span.hover-blue {
    color: rgb(40, 40, 233);
}

.sobremi .contenido-seccion p span.hover-orange {
    color: rgb(218, 141, 0);
}

.sobremi .contenido-seccion p span.hover-green {
    color: green;
}

.sobremi .contenido-seccion p span.hover-pink {
    color: rgb(236, 152, 166);
}

.sobremi .contenido-seccion p span.hover-lightblue {
    color: rgb(99, 196, 228);
}

.sobremi .contenido-seccion p span.hover-yellow {
    color: rgb(202, 202, 0);
}

.sobremi .contenido-seccion p span.hover-red {
    color: red;
}

.sobremi .fila .col ul li strong.hover-blue {
    color: rgb(40, 40, 233);
}

.sobremi .fila .col ul li strong.hover-orange {
    color: rgb(218, 141, 0);
}

.sobremi .fila .col ul li strong.hover-green {
    color: green;
}

.sobremi .fila .col ul li strong.hover-pink {
    color: rgb(236, 152, 166);
}

.sobremi .fila .col ul li strong.hover-lightblue {
    color: rgb(99, 196, 228);
}

.sobremi .fila .col ul li strong.hover-yellow {
    color: rgb(202, 202, 0);
}

.sobremi .fila .col ul li strong.hover-red {
    color: red;
}

.sobremi .fila .col ul li span {
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .interes {
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenedor-intereses .interes.hover-blue:hover {
    background-color: rgb(40, 40, 233);
}

.sobremi .fila .col .contenedor-intereses .interes.hover-orange:hover {
    background-color: rgb(218, 141, 0);
}

.sobremi .fila .col .contenedor-intereses .interes.hover-green:hover {
    background-color: green;
}

.sobremi .fila .col .contenedor-intereses .interes.hover-pink:hover {
    background-color: rgb(236, 152, 166);
}

.sobremi .fila .col .contenedor-intereses .interes.hover-lightblue:hover {
    background-color: rgb(99, 196, 228);
}

.sobremi .fila .col .contenedor-intereses .interes.hover-yellow:hover {
    background-color: rgb(202, 202, 0);
}

.sobremi .fila .col .contenedor-intereses .interes.hover-red:hover {
    background-color: red;
}

.sobremi .fila .col .contenedor-intereses .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: 1s;
}

.sobremi button .overlay.hover-blue {
    background-color: rgb(40, 40, 233);
}

.sobremi button .overlay.hover-orange {
    background-color: rgb(218, 141, 0);
}

.sobremi button .overlay.hover-green {
    background-color: green;
}

.sobremi button .overlay.hover-pink {
    background-color: rgb(236, 152, 166);
}

.sobremi button .overlay.hover-lightblue {
    background-color: rgb(99, 196, 228);
}

.sobremi button .overlay.hover-yellow {
    background-color: rgb(202, 202, 0);
}

.sobremi button .overlay.hover-red {
    background-color: red;
}

.sobremi button:hover .overlay {
    width: 100%;
}

/*----------------- 
------ HABILIDADES -----
-------------------*/

.skills {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.skills .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 48px;
    font-family: 'Kanit';
    text-align: center;
    padding: 20px 0;
}

.skills .fila {
    display: flex;
}

.skills .fila .col {
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3 {
    font-size: 28px;
    font-family: 'Kanit';
    margin-bottom: 25px;
}

.skills .skill>span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill {
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso {
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

.skills .skill .progreso.hover-blue,
.skills .skill .barra-skill span.hover-blue {
    background-color: rgb(40, 40, 233);
}

.skills .skill .progreso.hover-orange,
.skills .skill .barra-skill span.hover-orange {
    background-color: rgb(218, 141, 0);
}

.skills .skill .progreso.hover-green,
.skills .skill .barra-skill span.hover-green {
    background-color: green;
}

.skills .skill .progreso.hover-pink,
.skills .skill .barra-skill span.hover-pink {
    background-color: rgb(236, 152, 166);
}

.skills .skill .progreso.hover-lightblue,
.skills .skill .barra-skill span.hover-lightblue {
    background-color: rgb(99, 196, 228);
}

.skills .skill .progreso.hover-yellow,
.skills .skill .barra-skill span.hover-yellow {
    background-color: rgb(202, 202, 0);
}

.skills .skill .progreso.hover-red,
.skills .skill .barra-skill span.hover-red {
    background-color: red;
}

/*CSS AGREGADO CON JAVASCRIPT PARA MÁS FACILIDAD*/

/*TECNICAS*/

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.skills .skill .javascript {
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes htmlcss {
    0% {
        width: 0%;
    }

    100% {
        width: 89%;
    }
}

.skills .skill .htmlcss {
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 55%;
    }
}

.skills .skill .java {
    width: 0%;
    animation: 2s java forwards;
}

/*PROFESIONALES*/

@keyframes comunicacion {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.skills .skill .comunicacion {
    width: 0%;
    animation: 2s comunicacion forwards;
}

@keyframes equipo {
    0% {
        width: 0%;
    }

    100% {
        width: 89%;
    }
}

.skills .skill .equipo {
    width: 0%;
    animation: 2s equipo forwards;
}

@keyframes creatividad {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}

.skills .skill .creatividad {
    width: 0%;
    animation: 2s creatividad forwards;
}

@keyframes dedicacion {
    0% {
        width: 0%;
    }

    100% {
        width: 81%;
    }
}

.skills .skill .dedicacion {
    width: 0%;
    animation: 2s dedicacion forwards;
}

@keyframes gestion {
    0% {
        width: 0%;
    }

    100% {
        width: 55%;
    }
}

.skills .skill .gestion {
    width: 0%;
    animation: 2s gestion forwards;
}




/*----------------- 
------ CURRICULUM -----
-------------------*/

.curriculum {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.curriculum .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    font-size: 48px;
    font-family: 'Kanit';
    text-align: center;
    padding: 20px 0;
}

.curriculum .fila {
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col {
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3 {
    font-size: 28px;
    font-family: 'Kanit';
    margin-bottom: 25px;
}

.curriculum .fila .izquierda {
    border-right: 2px solid #252A2E;
}

.curriculum .fila .derecha {
    border-left: 2px solid #252A2E;
}

.curriculum .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}

.curriculum .fila .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .casa {
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha {
    display: block;
    margin-bottom: 10px;
}

.curriculum .fila .izq.hover-blue,
.curriculum .fila .der.hover-blue {
    border-color: rgb(40, 40, 233);
}

.curriculum .fila .izq.hover-orange,
.curriculum .fila .der.hover-orange {
    border-color: rgb(218, 141, 0);
}

.curriculum .fila .izq.hover-green,
.curriculum .fila .der.hover-green {
    border-color: green;
}

.curriculum .fila .izq.hover-pink,
.curriculum .fila .der.hover-pink {
    border-color: rgb(236, 152, 166);
}

.curriculum .fila .izq.hover-lightblue,
.curriculum .fila .der.hover-lightblue {
    border-color: rgb(99, 196, 228);
}

.curriculum .fila .izq.hover-yellow,
.curriculum .fila .der.hover-yellow {
    border-color: rgb(202, 202, 0);
}

.curriculum .fila .izq.hover-red,
.curriculum .fila .der.hover-red {
    border-color: red;
}

.curriculum .fila .item .casa.hover-blue,
.curriculum .fila .item .fecha.hover-blue {
    color: rgb(40, 40, 233);
}

.curriculum .fila .item .casa.hover-orange,
.curriculum .fila .item .fecha.hover-orange {
    color: rgb(218, 141, 0);
}

.curriculum .fila .item .casa.hover-green,
.curriculum .fila .item .fecha.hover-green {
    color: green;
}

.curriculum .fila .item .casa.hover-pink,
.curriculum .fila .item .fecha.hover-pink {
    color: rgb(236, 152, 166);
}

.curriculum .fila .item .casa.hover-lightblue,
.curriculum .fila .item .fecha.hover-lightblue {
    color: rgb(99, 196, 228);
}

.curriculum .fila .item .casa.hover-yellow,
.curriculum .fila .item .fecha.hover-yellow {
    color: rgb(202, 202, 0);
}

.curriculum .fila .item .casa.hover-red,
.curriculum .fila .item .fecha.hover-red {
    color: red;
}

.curriculum .fila .item p {
    line-height: 24px;
}

.curriculum .fila .izq {
    border-right: 2px solid;
    margin-right: 20px;
}

.curriculum .fila .der {
    border-left: 2px solid;
    margin-left: 20px;
}

.curriculum .fila .item .conectori {
    height: 2px;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectord {
    height: 2px;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    float: left;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectori.hover-blue,
.curriculum .fila .item .conectori .circuloi.hover-blue,
.curriculum .fila .item .conectord.hover-blue,
.curriculum .fila .item .conectord .circulod.hover-blue {
    background-color: rgb(22, 22, 247);
}

.curriculum .fila .item .conectori.hover-orange,
.curriculum .fila .item .conectori .circuloi.hover-orange,
.curriculum .fila .item .conectord.hover-orange,
.curriculum .fila .item .conectord .circulod.hover-orange {
    background-color: rgb(218, 141, 0);
}

.curriculum .fila .item .conectori.hover-green,
.curriculum .fila .item .conectori .circuloi.hover-green,
.curriculum .fila .item .conectord.hover-green,
.curriculum .fila .item .conectord .circulod.hover-green {
    background-color: green;
}

.curriculum .fila .item .conectori.hover-pink,
.curriculum .fila .item .conectori .circuloi.hover-pink,
.curriculum .fila .item .conectord.hover-pink,
.curriculum .fila .item .conectord .circulod.hover-pink {
    background-color: rgb(236, 152, 166);
}

.curriculum .fila .item .conectori.hover-lightblue,
.curriculum .fila .item .conectori .circuloi.hover-lightblue,
.curriculum .fila .item .conectord.hover-lightblue,
.curriculum .fila .item .conectord .circulod.hover-lightblue {
    background-color: rgb(99, 196, 228);
}

.curriculum .fila .item .conectori.hover-yellow,
.curriculum .fila .item .conectori .circuloi.hover-yellow,
.curriculum .fila .item .conectord.hover-yellow,
.curriculum .fila .item .conectord .circulod.hover-yellow {
    background-color: rgb(202, 202, 0);
}

.curriculum .fila .item .conectori.hover-red,
.curriculum .fila .item .conectori .circuloi.hover-red,
.curriculum .fila .item .conectord.hover-red,
.curriculum .fila .item .conectord .circulod.hover-red {
    background-color: red;
}


/*----------------- 
------ PORTFOLIO -----
-------------------*/

.portfolio {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.portfolio .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.portfolio h2 {
    font-size: 48px;
    font-family: 'Kanit';
    text-align: center;
    padding: 20px 0;
}

.portfolio .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .galeria .proyecto {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portfolio .galeria .proyecto img {
    width: 100%;
    display: block;
}

.portfolio .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.portfolio .galeria .proyecto .overlay.hover-blue {
    background: linear-gradient(rgba(22, 22, 247, .8), rgba(22, 22, 247, .8));
}

.portfolio .galeria .proyecto .overlay.hover-orange {
    background: linear-gradient(rgba(218, 141, 0, .8), rgba(218, 141, 0, .8));
}

.portfolio .galeria .proyecto .overlay.hover-green {
    background: linear-gradient(rgba(0, 128, 0, .8), rgba(0, 128, 0, .8));
}

.portfolio .galeria .proyecto .overlay.hover-pink {
    background: linear-gradient(rgba(236, 152, 166, .8), rgba(236, 152, 166, .8));
}

.portfolio .galeria .proyecto .overlay.hover-lightblue {
    background: linear-gradient(rgba(99, 196, 228, .8), rgba(99, 196, 228, .8));
}

.portfolio .galeria .proyecto .overlay.hover-yellow {
    background: linear-gradient(rgba(202, 202, 0, .8), rgba(202, 202, 0, .8));
}

.portfolio .galeria .proyecto .overlay.hover-red {
    background: linear-gradient(rgba(255, 0, 0, .8), rgba(255, 0, 0, .8));
}

.portfolio .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}

.portfolio .galeria .proyecto .overlay:hover {
    opacity: 1;
}

.portfolio .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0px;
}

/*----------------- 
------ CONTACTO -----
-------------------*/

.contacto {
    background-image: url(img/contacto-bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}

.contacto .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.contacto h2 {
    font-size: 48px;
    font-family: 'Kanit';
    text-align: center;
    padding: 20px 0;
}

.contacto .fila {
    display: flex;
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto #form{
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto #form input[type='text'],
.contacto #form textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}

.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input[type='text'],
.contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}

.contacto #button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: fit-content;
    display: block;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    display: flex;
}

.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: 1s;
}

.contacto button .overlay.hover-blue {
    background-color: rgb(22, 22, 247);
}

.contacto button .overlay.hover-orange{
    background-color: rgb(218, 141, 0);
}

.contacto button .overlay.hover-green {
    background-color: green;
}

.contacto button .overlay.hover-pink {
    background-color: rgb(236, 152, 166);
}

.contacto button .overlay.hover-lightblue {
    background-color: rgb(99, 196, 228);
}

.contacto button .overlay.hover-yellow {
    background-color: rgb(202, 202, 0);
}

.contacto button .overlay.hover-red {
    background-color: red;
}

.contacto button:hover .overlay {
    width: 100%;
}

.contacto .col img {
    width: 100%;
}

.contacto .col .info {
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacto .col .info ul {
    list-style: none;
}

.contacto .col .info ul li {
    margin-bottom: 20px;
}

.contacto .col .info ul li i {
    display: inline-block;
    margin-right: 20px;
}

.contacto .col .info ul li i.hover-blue {
    color: rgb(22, 22, 247);
}

.contacto .col .info ul li i.hover-orange{
    color: rgb(218, 141, 0);
}

.contacto .col .info ul li i.hover-green {
    color: green;
}

.contacto .col .info ul li i.hover-pink {
    color: rgb(236, 152, 166);
}

.contacto .col .info ul li i.hover-lightblue {
    color: rgb(99, 196, 228);
}

.contacto .col .info ul li i.hover-yellow {
    color: rgb(202, 202, 0);
}

.contacto .col .info ul li i.hover-red {
    color: red;
}

/*----------------- 
------ FOOTER -----
-------------------*/

footer {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes {
    margin-bottom: 20px;
}

footer .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .redes a.hover-blue:hover {
    background-color: rgb(40, 40, 233);
}

footer .redes a.hover-orange:hover {
    background-color: rgb(218, 141, 0);
}

footer .redes a.hover-green:hover {
    background-color: green;
}

footer .redes a.hover-pink:hover {
    background-color: rgb(236, 152, 166);
}

footer .redes a.hover-lightblue:hover {
    background-color: rgb(99, 196, 228);
}

footer .redes a.hover-yellow:hover {
    background-color: rgb(202, 202, 0);
}

footer .redes a.hover-red:hover {
    background-color: red;
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
    transition: opacity .3s ease-in-out;
}

footer .arriba:hover{
    opacity: 0.7;
}

footer .arriba.hover-blue {
    background-color: rgb(22, 22, 247);
}

footer .arriba.hover-orange{
    background-color: rgb(218, 141, 0);
}

footer .arriba.hover-green {
    background-color: green;
}

footer .arriba.hover-pink {
    background-color: rgb(236, 152, 166);
}

footer .arriba.hover-lightblue {
    background-color: rgb(99, 196, 228);
}

footer .arriba.hover-yellow {
    background-color: rgb(202, 202, 0);
}

footer .arriba.hover-red {
    background-color: red;
}



/*----------------- 
------ RESPONSIVE -----
-------------------*/

@media screen and (max-width: 980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

@media screen and (max-width: 700px) {
    .sobremi .fila {
        display: block;
    }

    .sobremi .fila .col {
        width: fit-content;
    }

    .skills .fila {
        display: block;
    }

    .skills .fila .col {
        width: 100%;
    }

    .skills .fila .col .barra-skill {
        width: 100%;
    }

    .curriculum .fila {
        display: block;
    }

    .curriculum .fila .col {
        width: 90%;
    }

    .curriculum .fila .derecha {
        margin-left: 20px;
    }

    .portfolio .galeria {
        display: block;
        width: 100%;
    }

    .portfolio .galeria .proyecto {
        max-width: 100%;
    }

    .portfolio .galeria .proyecto img {
        width: 100%;
    }

    .contacto .fila {
        display: block;
    }

    .contacto .fila .col {
        width: 100%;
    }
}


